<h1>All Ideas</h1>

<table>
  <tr>
    <th>标题</th>
    <th>详细内容</th>
    <th>状态</th>
    <th>处理时间</th
    <th>备注</th>
    <th></th>
  </tr>

<% @ideas_group_by_user.each do | user, ideas| %>
  <tr>
  	<td colspan="6">
  		<h3><%= user.nickname %></h3>
  	</td>
  </tr>

  <% ideas.each do |idea| %>
	  <tr>
	    <td><%= idea.title %></td>
	    <td><%= idea.desc %></td>
	    <td><%= get_state(idea.state) %></td>
	    <td><%= idea.deal_time %></td>
	    <td><%= idea.note %></td>
	    <td>
	    	<% if idea.wait_for_deal? %>
	    		<%= button_to 'Open', open_idea_path(idea), :class => 'btn primary' %>
	    	<% elsif idea.deal_with? %>
				<button id="close-idea-btn" class="btn" onclick="show_close_div(<%= idea.id %>);">Close</button>
	    	<% elsif idea.finish? %>
				<%= button_to 'Remove', idea_path(idea), :method => :delete, :class=>"btn" %>
	    	<% end %>
	    </td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />

<div id="close-idea-div" class="modal hide fade">
	<form id="close-idea-form">
	<div class="modal-header">
	  <a href="#" class="close">&times;</a>
	  <h3>Close Idea</h3>
	</div>
	<div class="modal-body">
	  	<%= label_tag :note %>
	  	<%= text_area_tag :note, params[:note], :class => 'input-xlarger', :id => :note %>
	  	<input type="hidden" id="idea-id" />
	</div>
	<div class="modal-footer">
	  <button class="btn" id="back-btn">Back</button>
	  <button class="btn primary" id="submit-btn">Submit</a>
	</div>
	</form>
</div>

<script>
	$('#close-idea-div').modal({
		backdrop: 'static',
		keyboard: true
	});
	
	function show_close_div(id) {
		$('#idea-id').val(id);
		$('#close-idea-div').modal('show');
		return false;
	}
	
	$('#back-btn').click(function() {
		$('#close-idea-div').modal('hide');
		return false;
	});
	
	$('#submit-btn').click(function() {
		$('#close-idea-form').attr('action', '/ideas/' + $('#idea-id').val() + '/close');
		$('#close-idea-form').submit();
		$('#close-idea-div').modal('hide');
		return false;
	});
</script>
