<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @idea.desc %>
</p>

<p>
  <b>State:</b>
  <%= @idea.state %>
</p>

<p>
  <b>Note:</b>
  <%= @idea.note %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
