<div class="paper">
	<h3><%= link_to paper.title, paper %></h3>
	<p><%= paper.author %>(<%= paper.year %>)</p>
	<p><%= paper.journal %>&nbsp;<%= paper.volume %>(<%= paper.issue %>)&nbsp;p.<%= paper.page_start %>-<%= paper.page_end %></p>
	<p>
		<%= link_to paper.link, paper.link %>
		<span class="label notice pull-right">
			<%= paper.favorites_count %> readers
		</span>
	</p>
</div>